html, body {
  margin: 0;
  padding: 0;
}

.brand {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.brand img {
  display: block;
  margin: auto;
}

.page {
  width: 100%;
  height: 400px;
}

.page1 {
  background: red;
}

.page2 {
  background: blue;
}

.page3 {
  background: green;
}

.page4 {
  background: black;
  color: #fff;
}

.position-container {
  position: absolute;
  width: 100%;
}

.slide-in-left-out-right.ng-hide-add-active,
.slide-in-left-out-right.ng-leave,
.back .slide-in-right-out-left.ng-hide-add-active,
.back .slide-in-right-out-left.ng-leave {
  -webkit-animation: slideOutRight 0.75s linear;
  animation: slideOutRight 0.75s linear;
}

.slide-in-left-out-right.ng-hide-remove-active,
.slide-in-left-out-right.ng-enter,
.back .slide-in-right-out-left.ng-hide-remove-active,
.back .slide-in-right-out-left.ng-enter {
  -webkit-animation: slideInLeft 0.75s linear;
  animation: slideInLeft 0.75s linear;
}

.slide-in-right-out-left.ng-hide-add-active,
.slide-in-right-out-left.ng-leave,
.back .slide-in-left-out-right.ng-hide-add-active,
.back .slide-in-left-out-right.ng-leave {
  -webkit-animation: slideOutLeft 0.75s linear;
  animation: slideOutLeft 0.75s linear;
}

.slide-in-right-out-left.ng-hide-remove-active,
.slide-in-right-out-left.ng-enter,
.back .slide-in-left-out-right.ng-hide-remove-active,
.back .slide-in-left-out-right.ng-enter {
  -webkit-animation: slideInRight 0.75s linear; 
  animation: slideInRight 0.75s linear;
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}